/* =Reset
-------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =Generic HTML
-------------------------------------------------------------- */

body {
  font-family: 'Poly', serif;
  font-size: 20px;
  line-height: 1.5em;
}

h1 {
  font-size: 2.4em;
  text-decoration: none;
  color: #2b6991;
  line-height: 1.2em;
  margin-bottom: .6em;
}

h2 {
  font-size: 1.3em;
  margin-bottom: .2em;
  color: #333;
}

h3 {
  font-size: 1.3em;
  margin: 1.5em 0 1em;
  color: #2b6991;
}

h4 {
  font-weight: bold;
  margin-bottom: .2em;
}

h5 {
  font-style: italic;
  margin-bottom: .1em;
}

a {
  text-decoration: none;
  color: #2b6991;
}

blockquote {
  color: #5D5454;
  font-style: italic;
  position: relative;
  padding: 0 2em;
}

cite {
  margin-left: 1.9em;
  font-size: .8em;
  color: #666;
}

/* =Code (github)
-------------------------------------------------------------- */

pre,code{
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

pre {
    margin-bottom: 15px;
    background-color:#eee;
    border:1px solid #ddd;
    padding:5px;
    line-height:1em;
    color:#444;
    overflow:auto;
    -webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;border-radius:3px;
}
pre code {
    font-size: 0.8em;
    padding:0;
    background-color:#eee;
    border:none;
}
code {
    font-size: 12px;
    background-color:#f8f8ff;
    color:#444;
    padding:0 .2em;
    border:1px solid #dedede;
}

/* =Gists
-------------------------------------------------------------- */

.gist {
  font: normal normal normal .6em Arial, DejaVuSansMono, Consolas, monospace;
  margin-bottom: 1em;
}

.gist {
  font-size: 1em;
}


/* =Helpers
-------------------------------------------------------------- */

.hide-it{
  visibility: hidden;  
}

.center-it{
  text-align: center;  
}

.image-right{
  float: right;
  padding-left: 1em;
}

.strong{
  font-weight: bold;
}
  

/* =Header
-------------------------------------------------------------- */

header {
  background: #2b6991;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 1px #2b6950;
  z-index: 32000;
}

header div {
  max-width: 750px;
  margin: 0 auto;
}

#logo a {
  font-size: 1.3em;
  padding: .2em 0 .4em;
  display: block;
  float: left;
  background-image: url('/img/train.png');
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 60px;
}

header a {
  color: #fff;
}

header nav {
  float: right;
}

header nav li {
  float: left;
}

header nav a {
  text-transform: uppercase;
  font-size: .9em;
  display: block;
  padding: .45em 0 .45em 1em;
}

header nav a:hover {
  text-decoration: underline;
}

/* =Footer
-------------------------------------------------------------- */

footer  {
  max-width: 750px;
  margin: 0 auto;
  font-size: .7em;
  font-style: italic;
  color: #666;
  text-align: center;
  padding: .3em 0;
  clear: both;
}

/* =Content
-------------------------------------------------------------- */

#content {
  max-width: 750px;
  padding: 0 40px;
  margin: 5em auto 3em;
  text-align: justify;
  -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
}

#content p, #content ul, #content ol {
  margin-bottom: 1em;
}

#content em {
  font-style: italic;
  font-weight: bold;
}

#content ol {
  list-style-type: decimal;
  padding-left: 2em;
}

#content a:hover {
  color: #000;
}

.baseline {
  font-size: 1.2em;
  font-style: italic;
  color: #222;
}

.tags {
  /*text-align: center;*/
  font-size: 1.2em;
  color : #222;
}

.separator {
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
  color: #999;
}

/* =Featured
-------------------------------------------------------------- */

#featured {
  clear: both;
}

#featured article {
  margin-bottom: 1em;
}

/* =Posts
-------------------------------------------------------------- */

#posts {
  margin-bottom: 1.5em;
  line-height: 1.2em;
}

#posts dd {
  margin-bottom: .7em;
  padding-bottom: .7em;
}


/* =Author block
-------------------------------------------------------------- */


#author {
    font-family: "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
    background: none repeat scroll 0 0 #FCFCFC;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    line-height: 1.62em;
    margin-bottom: 20px;
    padding: 20px;
    clear: both;
}

#author .avatar{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    float: left;
    padding: 5px;
}

#author > div{
    margin-left: 120px;
}

#author .social{
    background-size: auto 25px;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 35px;
}

#author .twitter{
    background-image: url('/img/twitter.png');
}

#author .googleplus{
    background-image: url('/img/googleplus.png');
}

/* =Home
-------------------------------------------------------------- */

/*#home {
  text-align: left;
  background: url(/imgs/gears.png) no-repeat 0 20px;
}
*/

#home #posts {
  width: 240px;
  float: left;
}

#home #intro {
  width: 240px;
  float: right;
  margin-bottom: 1.4em;
}

/* =Quotes
-------------------------------------------------------------- */

.open {
  font-size: 4em;
  top: .1em;
  left: -.02em;
}

.close {
  font-size: 2.5em;
  bottom: -.7em;
  right: .2em;
}

/* =Responsive
-------------------------------------------------------------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 600px) {
  #github_ribbon {
    visibility: hidden;
  }

  #logo a {
    font-size: 0.8em;
    padding: 0 0.2em 0 0.2em;
    display: block;
    float: left;
    background-image: none;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 15%;
  }


  header nav {
    display: block;
    font-size: 0.8em;
  }

  header nav a {
    text-transform: uppercase;
    font-size: .9em;
    display: block;
    /*padding: .2em .2em .4em;*/
    padding: 0 0.2em 0 0.2em;
  }

  h1 {
    font-size: 2em;
  }

  #content {
    max-width: 780px;
    padding: 0 10px;
    margin: 2em auto 3em;
    text-align: justify;
    -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
  }
}
