<h1>Alexandre Bulté</h1>

{% include author.html %}

<p>Ingénieur spécalisé en informatique, j'ai exercé depuis ma sortie de l'Ecole des Mines de Douai en 2006 différentes responsabilités dans plusieurs sociétés de services, depuis l'expertise technique jusqu'au commercial en passant par la gestion de projet.</p>

<p>J'interviens aujourd'hui en tant que consultant indépendant sur des projets <em>innovants</em> autour des thématiques qui me sont chères :</p>

<p class="tags"><em>&laquo; Techno &raquo;</em> open source, web, informatique physique, mobilité</p>

<p class="tags"><em>&laquo; Philo &raquo;</em> transition écologique, révolution sociale et économique par le collaboratif</p>

<p><a href="http://www.linkedin.com/pub/alexandre-bulté/4/936/78b">Mon profil sur LinkedIn</a></p>

<p>
<iframe src="https://docs.google.com/a/bulte.net/spreadsheet/embeddedform?formkey=dElNT0YwMFktRWtZYjZxcVdYY3g2LXc6MQ" width="760" height="590" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>
</p>