<div id="author" itemscope itemtype="http://schema.org/Person">
    <img alt="Alexandre Bulté avatar" class="avatar" src="http://www.gravatar.com/avatar/fde6f8b5ab97772e0aa35f0a0fc79a2d.png" itemprop="image" />
    <div>
        Écrit par <span class="strong" itemprop="name">Alexandre Bulté</span>
    </div>
    <div class="social twitter">
        Suivez-moi sur <a href="https://twitter.com/abulte">Twitter</a>
    </div>
    <div class="social googleplus">
        Rejoignez-moi sur <a href="{{ site.google_plus_url }}">Google+</a>
    </div>
</div>
